@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src:
    local("Geist"),
    url("./fonts/GeistVariableVF.ttf") format("truetype");
}

* {
  scroll-behavior: smooth;
}
[data-overlay-container="true"] {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.text-shadow {
  text-shadow:
    0 0 0.5em #8900f2bf,
    0 0 0.1em #8900f2bf;
}
